body {
    overflow-y: auto; 
}

#name-title-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#name-title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    border: 18px solid;
    height: 250px;
    width: 250px;
    transform: translateY(-50px);
    cursor: default;
}