body {
    overflow-y: auto; 
    background-attachment: fixed;
    opacity: 1;
}

body::after {
    position: fixed;
    content: "";
    background: url("../image/background.jpeg");
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;  
    background-color: white; 
}

#interest-container {
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.interest-title {
    font-size: 24px;
}

.interest {
    margin-bottom: 100px;
}

.image-row {
    display: flex;
    flex-direction: row;
}

.image {
    height: 300px;
    margin: 20px;
}

#carousel-container {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	background-color: transparent;
	height: 450px;
	width: 450px;
	overflow: hidden;
}

#carousel-strip {
	transition: 0.4s;
	position: fixed;
	left: 0px;
	display: flex;
    flex-direction: row;
}

.carousel-section {
	position: relative;
	height: 450px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-section img {
    width: 450px; 
}

#fish, #fishing, #personal3 {
    height: 450px;
    width: auto;
}

#left, #right {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 3;
	padding: 20px;
	font-size: 48px;
	color: white;
}

#left {
	left: calc(50% - 50vh);
}

#right {
	right: calc(50% - 50vh);
}

#close {
	color: white;
	font: 36px/100% arial, sans-serif;
  	position: fixed;
	right: 20px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 20px;
	z-index: 3;
}

#close:hover {
    cursor: pointer;
}

#overlay {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	top: 0px;
	left: 0px;
}
